<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="icon" href="/static-imgs/logo.png">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/base.css">

    {{#block "estilo"}}{{/block}}
</head>
<body>
<header class="header">
    <div class="header__top">
        <a href="/heladeras-solidarias">
            <img src="/static-imgs/logo.png" alt="Logo" class="header__logo">
        </a>
        <h1 class="header__titulo"><a href="/heladeras-solidarias">Heladeras Solidarias ONG</a></h1>

        {{#if activeSession}}
            <div class="header__buttons-container">
                <div class="header__buttons">
                    <a href="/heladeras-solidarias/cerrar-sesion" class="header__button">Cerrar Sesión</a>
                </div>
            </div>
        {{else}}
            <div class="header__buttons-container">
                <div class="header__buttons">
                    <a href="/heladeras-solidarias/iniciar-sesion" class="header__button">Iniciar Sesión</a>
                    <a href="/heladeras-solidarias/registrarse"
                       class="header__button-underline">Registrarse</a>
                </div>
            </div>
        {{/if}}
    </div>

    <div class="header__nav">
        <nav class="nav-container">
            <ul>
                {{#verifyRole tipoRol "ADMINISTRADOR"}}
                    <li><a href="/heladeras-solidarias/cargar-csv">Cargar CSV</a></li>
                    <li><a href="/heladeras-solidarias/heladeras-admin">Heladeras</a></li>
                    <li><a href="/heladeras-solidarias/reportes">Reportes</a></li>
                    <li><a href="/heladeras-solidarias/ver-mapa">Ver Mapa</a></li>
                {{else}}
                    {{#verifyRole tipoRol "PERSONA_FISICA"}}
                        <li><a href="/heladeras-solidarias/colaborar">Colaborar</a></li>
                        <li><a href="/heladeras-solidarias/heladeras">Heladeras</a></li>
                        <li><a href="/heladeras-solidarias/canjear-puntos">Canjear Puntos</a></li>
                        <li><a href="/heladeras-solidarias/vulnerables">Registrar Vulnerable</a></li>
                        <li><a href="/heladeras-solidarias/ver-mapa">Ver Mapa</a></li>
                    {{else}}
                        {{#verifyRole tipoRol "PERSONA_JURIDICA"}}
                            <li><a href="/heladeras-solidarias/colaborar">Colaborar</a></li>
                            <li><a href="/heladeras-solidarias/heladeras">Heladeras</a></li>
                            <li><a href="/heladeras-solidarias/ver-mapa">Ver Mapa</a></li>
                        {{else}}
                            {{#verifyRole tipoRol "EMPRESA_ASOCIADA"}}
                                <li><a href="/heladeras-solidarias/colaborar">Colaborar</a></li>
                                <li><a href="/heladeras-solidarias/ver-mapa">Ver Mapa</a></li>
                            {{else}}
                                {{#verifyRole tipoRol "TECNICO"}}
                                    <li><a href="/heladeras-solidarias/registrar-visita">Registrar Visita</a></li>
                                    <li><a href="/heladeras-solidarias/ver-mapa">Ver Mapa</a></li>
                                {{/verifyRole}}
                            {{/verifyRole}}
                        {{/verifyRole}}
                    {{/verifyRole}}
                {{/verifyRole}}
            </ul>
        </nav>
    </div>
</header>

<main class="main-content">
    {{#block "cuerpo"}}{{/block}}
</main>

{{#block "scripts"}}
{{/block}}

<footer class="footer">
    <p>® 2024 Heladeras Solidarias ONG</p>
</footer>
</body>
</html>