{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/colaborar.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Colaboraciones</h2>
    <div class="container" id="contenedorPrincipal">
        <div class="mb-3 containerPrincipal">
            <label for="actionSelector" class="form-label chico">Colaboracion</label>
            <select class="form-select form-select-lg chico" id="actionSelector">
                <option value="" selected>Seleccione una Colaboracion</option>
                {{#verifyRole tipoRol "PERSONA_FISICA"}}
                    <option value="donar_dinero">Donar Dinero</option>
                    <option value="donar_viandas">Donar Viandas</option>
                    <option value="distribuir_tarjetas">Distribuir Tarjetas</option>
                    <option value="distribuir_viandas">Distribuir Viandas</option>
                {{/verifyRole}}
                {{#verifyRole tipoRol "PERSONA_JURIDICA"}}
                    <option value="donar_dinero">Donar Dinero</option>
                    <option value="hacerse_cargo">Hacerse Cargo de una Heladera</option>
                {{/verifyRole}}
                {{#verifyRole tipoRol "EMPRESA_ASOCIADA"}}
                    <option value="realizar_ofertas">Realizar una Oferta</option>
                    <option value="hacerse_cargo">Hacerse Cargo de una Heladera</option>
                {{/verifyRole}}
            </select>
        </div>

        <!-- Formulario para Donar Dinero -->
        <div id="donar_dinero" class="action-form d-none chico">
            <h3>Donación de Dinero</h3>
            <form id="donarDineroForm" class="formulario" method="POST">
                <input type="hidden" name="formType" value="donarDinero">
                <div class="mb-3">
                    <label for="monto" class="form-label">Ingresar monto</label>
                    <input name="montoDonado" type="number" class="form-control form-control-lg espacio"
                           id="monto" placeholder="Ej. 1000" min="0" required>
                </div>
                <div class="mb-3">
                    <label for="frecuencia" class="form-label izquierda">Seleccionar
                        frecuencia</label>
                    <select name="frecuenciaDonacion" class="form-select form-select-lg espacio"
                            id="frecuencia" required>
                        <option value="Unica">Unica</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Trimestral">Trimestral</option>
                        <option value="Anual">Anual</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Colaborar</button>
            </form>
        </div>

        <!-- Formulario para Donar Viandas -->
        <div id="donar_viandas" class="action-form donar-viandas-form d-none">
            <h3>Donación de Viandas</h3>
            <form id="donarViandasForm" class="formulario" method="POST"
                  action="/heladeras-solidarias/colaborar">
                <input type="hidden" name="formType" value="donarViandas">
                <div class="form-row">
                    <div class="col-md-6 mb-3 col">
                        <label for="nombreComida" class="form-label">Nombre de la Comida</label>
                        <input name="nombreComida" type="text" class="form-control form-control-lg" id="nombreComida"
                               placeholder="Nombre" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="heladera" class="form-label">Heladera</label>
                        <select name="heladera" class="form-select form-select-lg" id="heladera" required>
                            <option value="" selected>Seleccione una Heladera</option>
                            {{#each heladeras}}
                                <option value="{{this.getId}}">{{this.getNombre}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-md-6 mb-3 col">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input name="cantidad" type="number" class="form-control form-control-lg" id="cantidad"
                               placeholder="Ej. 3" min="0" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="calorias" class="form-label">Calorías</label>
                        <input name="calorias" type="number" class="form-control form-control-lg" id="calorias"
                               placeholder="Ej. 500" min="0" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="vencimiento" class="form-label">Fecha de vencimiento</label>
                        <input name="fechaVencimiento" type="date" class="form-control form-control-lg" id="vencimiento"
                               required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="peso" class="form-label">Peso en gramos</label>
                        <input name="peso" type="number" class="form-control form-control-lg" id="peso"
                               placeholder="Ej. 200 gr" min="0" required>
                    </div>

                </div>
                <button type="submit" class="btn btn-success btn-lg">Colaborar</button>
            </form>
        </div>

        <!-- Formulario para Realizar Ofertas -->
        <div id="realizar_ofertas" class="action-form d-none mediano">
            <h3>Realizar una Oferta</h3>
            <form id="realizarOfertasForm" class="formulario realizar-ofertas-form" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="formType" value="realizarOfertas">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre_oferta" class="form-label">Nombre *</label>
                        <input name="nombre" type="text" class="form-control form-control-lg"
                               id="nombre_oferta" placeholder="Ej. Oferta 1" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="puntos_requeridos" class="form-label">Puntos requeridos *</label>
                        <input name="puntosNecesarios" type="number"
                               class="form-control form-control-lg"
                               id="puntos_requeridos" placeholder="Ej. 2500" min="0" required>
                    </div>
                </div>
                <div class="image-upload mb-3">
                    <label for="imagen_oferta" class="form-label">Imagen</label>
                    <input name="imagen" type="file" class="form-control form-control-lg" id="imagen_oferta">
                </div>
                <div class="description-container mb-3">
                    <label for="descripcion_imagen" class="form-label">Descripción de la Oferta</label>
                    <textarea name="descripcion" class="form-control form-control-lg"
                              id="descripcion_imagen" rows="4"
                              placeholder="Descripción de la imagen"></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Ofertar</button>
            </form>
        </div>


        <!-- Formulario para Distribuir Tarjetas -->
        <div id="distribuir_tarjetas" class="action-form d-none chico">
            <h3>Distribuir Tarjetas</h3>
            <form id="distribuirTarjetasForm" class="formulario" method="POST"
                  action="/heladeras-solidarias/colaborar">
                <input type="hidden" name="formType" value="distribuirTarjetas">
                <div class="mb-3">
                    <label for="cantidad_tarjetas" class="form-label">Cantidad a Solicitar</label>
                    <input name="cant_tarjetas" type="number" class="form-control form-control-lg"
                           id="cantidad_tarjetas" placeholder="Ej. 15" min="0" required>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Solicitar</button>
            </form>
        </div>

        <!-- Formulario para Distribuir Viandas -->
        <div id="distribuir_viandas" class="action-form d-none distribuir-viandas-form">
            <h3>Distribución de Viandas</h3>
            <form id="distribuirViandasForm" class="formulario" method="POST"
                  action="/heladeras-solidarias/colaborar">
                <input type="hidden" name="formType" value="distribuirViandas">
                <div class="form-row">
                    <div class="col-md-6 mb-3 col">
                        <label for="heladera_origen" class="form-label extra-class">Heladera Origen</label>
                        <select name = "heladeraOrigen" class="form-select form-select-lg" id="heladera_origen" required>
                            <option value="" selected>Seleccione una Heladera</option>
                            {{#each heladeras}}
                                <option value="{{this.getId}}">{{this.getNombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="heladera_destino" class="form-label extra-class">Heladera Destino</label>
                        <select name = "heladeraDestino" class="form-select form-select-lg" id="heladera_destino" required>
                            <option value="" selected>Seleccione una Heladera</option>
                            {{#each heladeras}}
                                <option value="{{this.getId}}">{{this.getNombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="cantidad_viandas" class="form-label extra-class">Cantidad de Viandas</label>
                        <input name = "cantidad" type="number" class="form-control form-control-lg"
                               id="cantidad_viandas" placeholder="Ej. 3" min="0" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="motivo" class="form-label extra-class">Motivo de la
                            Distribución</label>
                        <select name = "motivo" class="form-select form-select-lg" id="motivo" required>
                            <option value="" selected>Elija una opción</option>
                            <option value="desperfecto">Desperfecto en la heladera</option>
                            <option value="falta_viandas">Falta de viandas en la heladera destino</option>
                            <option value="sobra_viandas">Sobran viandas en la heladera origen</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg">Confirmar</button>
            </form>
        </div>

        <!-- Formulario para Colocar Heladera -->
        <div id="hacerse_cargo" class="action-form d-none distribuir-viandas-form">
            <h3>Hacerse cargo de una Heladera</h3>
            <form id="hacerseCargoForm" method="POST" action="/heladeras-solidarias/colaborar">
                <input type="hidden" name="formType" value="hacerseCargo">
                <div class="form-row justify-content-center">
                    <div class="col-md-6 mb-3 Ecol">
                        <label for="nombreHeladera" class="form-label">Nombre de la Heladera</label>
                        <input name="nombre" type="text" class="form-control form-control-lg" id="nombreHeladera" placeholder="Ingresar nombre" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="modeloHeladera" class="form-label">Modelo de la Heladera</label>
                        <select name="modelo" class="form-select form-select-lg" id="modeloHeladera" required>
                            <option selected value="">Seleccione un Modelo</option>
                            {{#each modelos}}
                                <option value="{{this.getId}}">{{this.getNombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3 Ecol">
                        <label for="fechaAltaHeladera" class="form-label">Fecha de Alta</label>
                        <input name="fechaCreacion" type="date" class="form-control form-control-lg" id="fechaAltaHeladera" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="provincia" class="form-label">Provincia</label>
                        <select name="provincia" class="form-select form-select-lg" id="provincia">
                            <option selected value="">Seleccione una Provincia</option>
                            {{#each provincias}}
                                <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3 Ecol">
                        <label for="ciudad" class="form-label">Ciudad</label>
                        <input name="ciudad" type="text" class="form-control form-control-lg" id="ciudad"
                               placeholder="ej: CABA" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="barrio" class="form-label">Barrio</label>
                        <input name="barrio" type="text" class="form-control form-control-lg" id="barrio"
                               placeholder="ej: Villa Crespo" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3 Ecol">
                        <label for="calle" class="form-label">Calle</label>
                        <input name="calle" type="text" class="form-control form-control-lg" id="calle"
                               placeholder="ej: Malabia" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="numero" class="form-label">Numero</label>
                        <input name="numero" type="text" class="form-control form-control-lg" id="numero"
                               placeholder="ej: 411" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3 Ecol">
                        <label for="longitud" class="form-label">Longitud</label>
                        <input name="longitud" type="text" class="form-control form-control-lg formEnd" id="longitud"
                               placeholder="ej: -321.341" required>
                    </div>
                    <div class="col-md-6 mb-3 col">
                        <label for="latitud" class="form-label">Latitud</label>
                        <input name="latitud" type="text" class="form-control form-control-lg formEnd" id="latitud"
                               placeholder="ej: 1.1212" required>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-primary">Registrar Heladera</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Error Colaboracion -->
    <div class="modal fade" id="errorDonacionViandas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">¡Ups! Surgió un Problema</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="mensajeError2">Tu colaboración no pudo ser procesada.
                        El espacio disponible en la heladera es </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Error Distribucion -->
    <div class="modal fade" id="errorDistribucion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">¡Ups! Surgió un Problema</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="mensajeError2">Tu colaboración no pudo ser procesada.
                        El espacio disponible para distribuir entre estas heladeras es </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Error Fecha -->
    <div class="modal fade" id="errorFecha" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">¡Ups! Surgió un Problema</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="mensajeError">La fecha ingresada es inválida. </h4> <br>
                    <h4> Inténtalo de nuevo </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Error Heladeras Iguales-->
    <div class="modal fade" id="errorHeladerasIguales" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">¡Ups! Surgió un Problema</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 id="mensajeError"> Heladera origen y destino no pueden ser iguales. </h4> <br>
                    <h4> Inténtalo de nuevo </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{{/partial}}

{{#partial "scripts"}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('actionSelector').addEventListener('change', function () {
            let selectedValue = this.value;
            let actionForms = document.querySelectorAll('.action-form');
            actionForms.forEach(function (form) {
                if (form.id === selectedValue) {
                    form.classList.remove('d-none');
                } else {
                    form.classList.add('d-none');
                }
            });
        });
    </script>
    <script>
        document.getElementById('actionSelector').addEventListener('change', function () {
            let selectedValue = this.value;
            if (selectedValue === "/heladeras-solidarias/colaborar/colocar-heladera") {
                window.location.href = selectedValue;
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Lee los parámetros de la URL
            const params = new URLSearchParams(window.location.search);
            // Si el parámetro "success" es "true", mostramos el modal
            if (params.get("errorDonacionViandas") === "true") {
                $('#errorDonacionViandas').modal('show');
                document.getElementById("mensajeError2").textContent += params.get("espacioDisponible");
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Lee los parámetros de la URL
            const params = new URLSearchParams(window.location.search);
            // Si el parámetro "success" es "true", mostramos el modal
            if (params.get("errorDistribucion") === "true") {
                $('#errorDistribucion').modal('show');
                document.getElementById("mensajeError").textContent += params.get("espacioDisponible");
            }
            if (params.get("invalidDate") === "true") {
                $('#errorFecha').modal('show');
            }
            if (params.get("errorHeladerasIguales") === "true") {
                $('#errorHeladerasIguales').modal('show');
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const checkbox = document.getElementById('direccionPropia');
            const inputs = document.querySelectorAll('#hacerse_cargo input[type="text"], #hacerse_cargo select');
            checkbox.addEventListener('change', function() {
                inputs.forEach(input => {
                    if (!checkbox.checked) {
                        input.setAttribute('required', true);
                    } else {
                        input.removeAttribute('required');
                    }
                });
            });
        });
    </script>

{{/partial}}

{{> templates/base}}