{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/alta-heladera.css">
    <link rel="stylesheet" href="/css/baja-heladera.css">
    <link rel="stylesheet" href="/css/modificar-heladera.css">
    <link rel="stylesheet" href="/css/alertas.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2 class="arribita">Gestión de Heladeras</h2>
    <div class="container chico">
        <div class="mb-3 containerPrincipal chico">
            <label for="actionSelector" class="form-label chico">Elige una acción</label>
            <select class="form-select form-select-lg chico" id="actionSelector">
                <option value="" selected>Elija una opción</option>
                <option value="darAltaModelo">Dar de Alta un Modelo</option>
                <option value="darAltaHeladera">Dar de Alta una Heladera</option>
                <option value="modificarHeladera">Modificar una Heladera</option>
                <option value="darBajaHeladera">Dar de Baja una Heladera</option>
                <option value="verAlertas">Ver Alertas</option>
            </select>
        </div>
    </div>

    <div id="darAltaModelo" class="d-none action-form">
        <form id="darAltaModeloForm" method="POST" action="/heladeras-solidarias/heladeras-admin">
            <input type="hidden" name="formType" value="darAltaModelo">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3">
                    <label for="modelo" class="form-label">Modelo de la Heladera</label>
                    <input name="nombre" type="text" class="form-control" id="modelo" placeholder="Ingresar modelo" required>
                    <span id="error" class="error" style="color:red;"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="capacidadMaximaViandas" class="form-label">Capacidad Máxima de Viandas</label>
                    <input name="capacidadMaximaViandas" type="number" step="1" class="form-control" id="capacidadMaximaViandas"
                           placeholder="Ingresar capacidad Maxima" min="0" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="minTempHeladera" class="form-label">Temperatura Mínima</label>
                    <input name="temperaturaMin" type="number" step="1" class="form-control" id="minTempHeladera" placeholder="Ingresar temperatura mínima" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="maxTempHeladera" class="form-label">Temperatura Máxima</label>
                    <input name="temperaturaMax" type="number" step="1" class="form-control" id="maxTempHeladera" placeholder="Ingresar temperatura máxima" required>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Registrar Modelo</button>
            </div>
        </form>
    </div>

    <div id="darAltaHeladera" class="action-form d-none">
        <h3>Dar de alta una heladera</h3>
        <form method="POST" action="/heladeras-solidarias/heladeras-admin">
            <input type="hidden" name="formType" value="darAltaHeladera">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3">
                    <label for="nombreHeladera" class="form-label">Nombre de la Heladera</label>
                    <input name="nombre" type="text" class="form-control" id="nombreHeladera" placeholder="Ingresar nombre" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="modeloHeladera" class="form-label">Modelo de la Heladera</label>
                    <select name="modelo" class="form-select" id="modeloHeladera" required>
                        <option selected value="">Seleccione un Modelo</option>
                        {{#each modelos}}
                            <option value="{{this.getId}}">{{this.getNombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fechaAltaHeladera" class="form-label">Fecha de Alta</label>
                    <input name="fechaCreacion" type="date" class="form-control" id="fechaAltaHeladera" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provincia" class="form-label">Provincia</label>
                    <select name="provincia" class="form-select" id="provincia">
                        <option selected value="">Seleccione una Provincia</option>
                        {{#each provincias}}
                            <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input name="ciudad" type="text" class="form-control" id="ciudad"
                           placeholder="ej: CABA" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrio" class="form-label">Barrio</label>
                    <input name="barrio" type="text" class="form-control" id="barrio"
                           placeholder="ej: Villa Crespo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="calle" class="form-label">Calle</label>
                    <input name="calle" type="text" class="form-control" id="calle"
                           placeholder="ej: Malabia" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numero" class="form-label">Numero</label>
                    <input name="numero" type="text" class="form-control" id="numero"
                           placeholder="ej: 411" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="longitud" class="form-label">Longitud</label>
                    <input name="longitud" type="text" class="form-control" id="longitud"
                           placeholder="ej: -321.341" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="latitud" class="form-label">Latitud</label>
                    <input name="latitud" type="text" class="form-control" id="latitud"
                           placeholder="ej: 1.1212" required>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Registrar Heladera</button>
            </div>
        </form>
    </div>

    <div id="darBajaHeladera" class="suscribirse-content action-form d-none">
        <form class="probar" method="POST" action="/heladeras-solidarias/heladeras-admin">
            <input type="hidden" name="formType" value="darBajaHeladera">
            <div class="mb-3 primero">
                <div class = "mediano_s">
                    <label for="actionSelector" class="form-label chico">Heladera</label>
                    <select name="heladera" class="form-select form-select-lg chico" id="actionSelector" required>
                        <option disabled selected>Seleccione una Heladera</option>
                        {{#each heladeras}}
                            <option value="{{this.getId}}">{{this.getNombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Dar de baja</button>
            </div>

        </form>
    </div>

    <div id="modificarHeladera" class="action-form container mt-5 nopadding d-none">
        <form method="POST" action="/heladeras-solidarias/heladeras-admin">
            <input type="hidden" name="formType" value="modificarHeladera">
            <div class="fila">
                <label for="actionSelector" class="form-label chico">Heladera</label>
                <select name="heladera" class="form-select form-select-lg chico" id="actionSelector" required>
                    <option value="" disabled selected>Seleccione una Heladera</option>
                    {{#each heladeras}}
                        <option value="{{this.getId}}">{{this.getNombre}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="row darAlta">
                <div class="col-md-6 mb-3">
                    <label for="nombreHeladera" class="form-label">Nombre de la Heladera</label>
                    <input name="nombre" type="text" class="form-control" id="nombreHeladera" placeholder="Ingresar nombre">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="modeloHeladera" class="form-label">Modelo de la Heladera</label>
                    <select name="modelo" class="form-select" id="modeloHeladera" required>
                        <option selected value="">Seleccione un Modelo</option>
                        {{#each modelos}}
                            <option value="{{this.getId}}">{{this.getNombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fechaAltaHeladera" class="form-label">Fecha de Alta</label>
                    <input name="fechaCreacion" type="date" class="form-control" id="fechaAltaHeladera">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provincia" class="form-label">Provincia</label>
                    <select name="provincia" class="form-select" id="provincia">
                        <option selected value="">Seleccione una Opción</option>
                        {{#each provincias}}
                            <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input name="ciudad" type="text" class="form-control" id="ciudad"
                           placeholder="ej: CABA">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrio" class="form-label">Barrio</label>
                    <input name="barrio" type="text" class="form-control" id="barrio"
                           placeholder="ej: Villa Crespo">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="calle" class="form-label">Calle</label>
                    <input name="calle" type="text" class="form-control" id="calle"
                           placeholder="ej: Malabia">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numero" class="form-label">Numero</label>
                    <input name="numero" type="text" class="form-control" id="numero"
                           placeholder="ej: 411">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="latitud" class="form-label">Latitud</label>
                    <input name="latitud" type="text" class="form-control" id="latitud"
                           placeholder="ej: 1.1212">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="longitud" class="form-label">Longitud</label>
                    <input name="longitud" type="text" class="form-control" id="longitud"
                           placeholder="ej: -321.341">
                </div>
            </div>
            <div class="fila d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Modificar Heladera</button>
            </div>
        </form>
    </div>

    <div id="verAlertas" class="containerEste d-none action-form">
        <form>
            <input type="hidden" name="formType" value="verAlertas">
            <div id="heladera_1" class="list-group">
                {{#each alertas}}
                    <a class="list-group-item">
                        <div class="d-flex w-100 justify-content-between temperatura">
                            <h4>Alerta: {{this.getTipoAlerta}}</h4>
                            <h4>Heladera: {{this.getHeladera.getNombre}}</h4>
                            <h4>Momento: {{this.getMomentoIncidente}}</h4>
                            {{#if this.solucionado}}
                                <h4>Estado: Solucionado</h4>
                            {{else}}
                                <h4>Estado: No Solucionado</h4>
                            {{/if}}
                        </div>
                    </a>
                {{/each}}
            </div>
        </form>
    </div>

    <div class="modal fade" id="modeloExistente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">¡Ups! Ocurrió un Error</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Ese modelo ya existe. Inténtalo de nuevo</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script>
        document.getElementById('actionSelector').addEventListener('change', function () {
            var selectedValue = this.value;
            var actionForms = document.querySelectorAll('.action-form');

            actionForms.forEach(function (form) {
                if (form.id === selectedValue) {
                    form.classList.remove('d-none');
                } else {
                    form.classList.add('d-none');
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Lee los parámetros de la URL
            const params = new URLSearchParams(window.location.search);

            // Si el parámetro "success" es "true", mostramos el modal
            if (params.get("modelExists") === "true") {
                $('#modeloExistente').modal('show');
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{{/partial}}

{{> templates/base}}