{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/alta-heladera.css">
    <link rel="stylesheet" href="/css/baja-heladera.css">
    <link rel="stylesheet" href="/css/modificar-heladera.css">
    <link rel="stylesheet" href="/css/alertas.css">
{{/partial}}

{{#partial "cuerpo"}}
    <h2 class="arribita">Gestión de Heladeras</h2>
    <div class="container chico">
        <div class="mb-3 containerPrincipal chico">
            <label for="actionSelector" class="form-label chico">Elige una acción</label>
            <select class="form-select form-select-lg chico" id="actionSelector">
                <option value="" selected>Elija una opción</option>
                <option value="darAlta">Dar de Alta</option>
                <option value="darBaja">Dar de Baja</option>
                <option value="modificar">Modificar Heladera</option>
                <option value="verAlertas">Ver Alertas</option>
            </select>
        </div>
    </div>

    <div id="darAlta" class="d-none action-form">
        <form method="POST" action="/heladeras-solidarias/heladeras-admin">
            <input type="hidden" name="formType" value="darAlta">
            <div class="row darAlta">
                <div class="col-md-6 mb-3">
                    <label for="nombreHeladera" class="form-label">Nombre de la Heladera</label>
                    <input name="nombre" type="text" class="form-control" id="nombreHeladera" placeholder="Ingresar nombre" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="modeloHeladera" class="form-label">Modelo de la Heladera</label>
                    <input name="modelo" type="text" class="form-control" id="modeloHeladera" placeholder="Ingresar modelo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fechaAltaHeladera" class="form-label">Fecha de Alta</label>
                    <input name="fechaCreacion" type="date" class="form-control" id="fechaAltaHeladera" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provincia" class="form-label">Provincia</label>
                    <select name="provincia" class="form-select" id="provincia">
                        <option selected value="">Seleccione una Opción</option>
                        {{#each provincias}}
                            <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input name="ciudad" type="text" class="form-control" id="ciudad"
                           placeholder="ej: CABA" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrio" class="form-label">Barrio</label>
                    <input name="barrio" type="text" class="form-control" id="barrio"
                           placeholder="ej: Villa Crespo" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="calle" class="form-label">Calle</label>
                    <input name="calle" type="text" class="form-control" id="calle"
                           placeholder="ej: Malabia" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numero" class="form-label">Numero</label>
                    <input name="numero" type="text" class="form-control" id="numero"
                           placeholder="ej: 411" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="latitud" class="form-label">Latitud</label>
                    <input name="latitud" type="text" class="form-control" id="latitud"
                           placeholder="ej: 1.1212" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="longitud" class="form-label">Longitud</label>
                    <input name="longitud" type="text" class="form-control" id="longitud"
                           placeholder="ej: -321.341" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="minTempHeladera" class="form-label">Temperatura Mínima</label>
                    <input name="temperaturaMin" type="number" step="1" class="form-control" id="minTempHeladera" placeholder="Ingresar temperatura mínima" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="maxTempHeladera" class="form-label">Temperatura Máxima</label>
                    <input name="temperaturaMax" type="number" step="1" class="form-control" id="maxTempHeladera" placeholder="Ingresar temperatura máxima" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="capacidadMaxViandas" class="form-label">Capacidad Máxima</label>
                    <input name="capacidadMaximaViandas" type="number" step="1" class="form-control" id="capacidadMaxViandas"
                           placeholder="Ingresar capacidad Maxima" min="0" required>
                </div>
                <div class="col-md-6 mb-3">
                    <!--Para que quede parejita la columna-->
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Registrar Heladera</button>
            </div>
        </form>
    </div>

    <div id="darBaja" class="suscribirse-content action-form d-none">
        <form class="probar" method="POST" action="/heladeras-solidarias/heladeras-admin">
            <input type="hidden" name="formType" value="darBaja">
            <div class="mb-3 primero">
                <div class = "mediano_s">
                    <label for="actionSelector" class="form-label chico">Elija una Heladera</label>
                    <select name="heladera" class="form-select form-select-lg chico" id="actionSelector" required>
                        <option disabled selected>Seleccione una heladera</option>
                        {{#each heladeras}}
                            <option value="{{this.getId}}">{{this.getNombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="algo">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea name="descripcion" id="descripcion" class="form-control"></textarea>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Dar de baja</button>
            </div>

        </form>
    </div>

    <div id="modificar" class="action-form container mt-5 nopadding d-none">
        <form method="POST" action="/heladeras-solidarias/heladeras-admin">
            <input type="hidden" name="formType" value="modificar">
            <div class="fila">
                <label for="actionSelector" class="form-label chico">Elija una Heladera</label>
                <select name="heladera" class="form-select form-select-lg chico" id="actionSelector" required>
                    <option value="" disabled selected>Seleccione una heladera</option>
                    {{#each heladeras}}
                        <option value="{{this.getId}}">{{this.getNombre}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="row darAlta">
                <div class="col-md-6 mb-3">
                    <label for="nombreHeladera" class="form-label">Nombre de la Heladera</label>
                    <input name="nombre" type="text" class="form-control" id="nombreHeladera" placeholder="Ingresar nombre">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="modeloHeladera" class="form-label">Modelo de la Heladera</label>
                    <input name="modelo" type="text" class="form-control" id="modeloHeladera" placeholder="Ingresar modelo">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fechaAltaHeladera" class="form-label">Fecha de Alta</label>
                    <input name="fechaCreacion" type="date" class="form-control" id="fechaAltaHeladera">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provincia" class="form-label">Provincia</label>
                    <select name="provincia" class="form-select" id="provincia">
                        <option selected value="">Seleccione una Opción</option>
                        {{#each provincias}}
                            <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input name="ciudad" type="text" class="form-control" id="ciudad"
                           placeholder="ej: CABA">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrio" class="form-label">Barrio</label>
                    <input name="barrio" type="text" class="form-control" id="barrio"
                           placeholder="ej: Villa Crespo">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="calle" class="form-label">Calle</label>
                    <input name="calle" type="text" class="form-control" id="calle"
                           placeholder="ej: Malabia">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numero" class="form-label">Numero</label>
                    <input name="numero" type="text" class="form-control" id="numero"
                           placeholder="ej: 411">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="latitud" class="form-label">Latitud</label>
                    <input name="latitud" type="text" class="form-control" id="latitud"
                           placeholder="ej: 1.1212">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="longitud" class="form-label">Longitud</label>
                    <input name="longitud" type="text" class="form-control" id="longitud"
                           placeholder="ej: -321.341">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="minTempHeladera" class="form-label">Temperatura Mínima</label>
                    <input name="temperaturaMin" type="number" step="1" class="form-control" id="minTempHeladera" placeholder="Ingresar temperatura mínima" >
                </div>
                <div class="col-md-6 mb-3">
                    <label for="maxTempHeladera" class="form-label">Temperatura Máxima</label>
                    <input name="temperaturaMax" type="number" step="1" class="form-control" id="maxTempHeladera" placeholder="Ingresar temperatura máxima">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="capacidadMaxViandas" class="form-label">Capacidad Máxima</label>
                    <input name="capacidadMaximaViandas" type="number" step="1" class="form-control" id="capacidadMaxViandas"
                           placeholder="Ingresar capacidad Maxima" min="0">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="razonModificacion" class="form-label">Razon de modificacion</label>
                    <input name="razonModificacion" type="text" class="form-control" id="razonModificacion" placeholder="Ingresar la razon">
                </div>
            </div>

            <div class="fila d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Modificar Heladera</button>
            </div>
        </form>
    </div>

    <div id="verAlertas" class="containerEste d-none action-form">
        <form>
            <input type="hidden" name="formType" value="verAlertas">
            <div class="mb-3 containerPrincipal">
                <label for="actionSelector" class="form-label chico">Elija una Heladera</label>
                <select class="form-select form-select-lg chico" id="actionSelector" required>
                    <option value="" disabled selected>Seleccione una heladera</option>
                    {{#each heladeras}}
                        <option value="{{this.getId}}">{{this.getNombre}}</option>
                    {{/each}}
                </select>
            </div>

            <div id="heladera_1" class="list-group">
                <a class="list-group-item">
                    <div class="d-flex w-100 justify-content-between temperatura">
                        <h4>Exceso de Temperatura</h4>
                        <h4>Valor: 23.5º</h4>
                        <h4>Momento: 23-10-2024-11:55</h4>
                    </div>
                </a>
                <a class="list-group-item">
                    <div class="d-flex w-100 justify-content-between temperatura">
                        <h4>Fraude</h4>
                        <h4>Momento: 23-10-2024-11:55</h4>
                    </div>
                </a>
            </div>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script>
        document.getElementById('actionSelector').addEventListener('change', function () {
            var selectedValue = this.value;
            var actionForms = document.querySelectorAll('.action-form');

            actionForms.forEach(function (form) {
                if (form.id === selectedValue) {
                    form.classList.remove('d-none');
                } else {
                    form.classList.add('d-none');
                }
            });
        });
    </script>
{{/partial}}

{{> templates/base}}