{{#partial "estilo"}}
    <link rel="stylesheet" href="/css/mapa.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{{/partial}}

{{#partial "cuerpo"}}
    <h2>Mapa de Heladeras</h2>
    <div id="map"></div>
{{/partial}}

{{#partial "script"}}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

            {{#each heladeras}}
            const lugar = "{{this.direccion.nombreUbicacion}}";
            const lat = parseFloat({{this.direccion.latitud}});
            const long = parseFloat({{this.direccion.longitud}});
            L.marker([lat, long]).addTo(map)
                    .bindPopup('<b>' + lugar + '</b>');
            {{/each}}

        const group = L.featureGroup(
            {{#each heladeras}}
                    L.marker([parseFloat({{this.direccion.latitud}}), parseFloat({{this.direccion.longitud}})])
                {{#unless @last}},{{/unless}}
            {{/each}}
        );
        map.fitBounds(group.getBounds());
    </script>
{{/partial}}

{{> templates/base }}
