{{#partial "estilo"}}
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet"
          href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity= "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/registrarse.css">
{{/partial}}

{{#partial "cuerpo"}}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="container mt-5">
        <h2>Registro</h2>
        <div class="d-flex justify-content-end mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="personaToggle" >
                <label class="form-check-label" for="personaToggle">Persona Jurídica</label>
            </div>
        </div>

        <!-- Formulario Persona Jurídica -->
        <form id="form-juridica" class="d-none" method="POST" action="/heladeras-solidarias/registrarse">
            {{#if error}}
                <div class="alert alert-danger d-flex align-items-center alerta" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        <h5>{{error}}</h5>
                    </div>
                </div>
            {{/if}}

            {{#if error2}}
                <div class="alert2 alert-danger d-flex align-items-center alerta" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        <h5>{{error2}}</h5>
                    </div>
                </div>
            {{/if}}
            <input type="hidden" name="tipoColaborador" value="JURIDICO">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="usuario" class="form-label">Nombre de Usuario *</label>
                    <input name="usuario" type="text" class="form-control" id="usuario"
                           placeholder="Ingresar nombre de usuario" required>
                </div>
                <div class="col-md-6 mb-3 position-relative">
                    <label for="contrasenia" class="form-label">Contraseña *</label>
                    <input name="contrasenia" type="password" class="form-control" id="contrasenia"
                           placeholder="Ingresar contraseña" required>
                    <i class="bi bi-eye-slash" id="togglePassword1"
                       style="position: absolute; top: 59%; right: 5rem; transform: translateY(-15%); cursor: pointer;"></i>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="razonSocial" class="form-label">Razón Social *</label>
                    <input name="razonSocial" type="text" class="form-control" id="razonSocial"
                           placeholder="Ingresar razón social" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="tipoOrganizacion" class="form-label">Tipo *</label>
                    <select name="tipoOrganizacion" class="form-select" id="tipoOrganizacion" required>
                        <option selected value="">Seleccione una Opción</option>
                        <option value="GUBERNAMENTAL">Gubernamental</option>
                        <option value="ONG">ONG</option>
                        <option value="EMPRESA">Empresa</option>
                        <option value="INSTITUCION">Institución</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="rubro" class="form-label">Rubro *</label>
                    <input name="rubro" type="text" class="form-control" id="rubro" placeholder="Ingresar rubro"
                           required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="tipoContactoJuridica" class="form-label">Tipo de Contacto *</label>
                    <select name="tipoContacto" class="form-select" id="tipoContactoJuridica" required>
                        <option selected value="">Seleccione una opción</option>
                        <option value="MAIL">Email</option>
                        <option value="TELEFONO">Teléfono</option>
                        <option value="TELEGRAM">Telegram</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="contactoJuridica" class="form-label">Contacto *</label>
                    <input name="contacto" type="text" class="form-control" id="contactoJuridica"
                           placeholder="ej: 1122334455" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="provinciaJuridica" class="form-label">Provincia</label>
                    <select name="provincia" class="form-select" id="provinciaJuridica">
                        <option value="" selected>Seleccione una provinicia</option>
                        {{#each provincias}}
                            <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ciudadJuridica" class="form-label">Ciudad</label>
                    <input name="ciudad" type="text" class="form-control" id="ciudadJuridica"
                           placeholder="ej: CABA">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barrioJuridica" class="form-label">Barrio</label>
                    <input name="barrio" type="text" class="form-control" id="barrioJuridica"
                           placeholder="ej: Villa Crespo">
                </div>
            </div><div class="row">
            <div class="col-md-6 mb-3">
                <label for="calleJuridica" class="form-label">Calle</label>
                <input name="calle" type="text" class="form-control" id="calleJuridica"
                       placeholder="ej: Malabia">
            </div>
            <div class="col-md-6 mb-3">
                <label for="numeroJuridico" class="form-label">Numero</label>
                <input name="numero" type="text" class="form-control" id="numeroJuridico"
                       placeholder="ej: 500">
            </div>
        </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>

        <!-- Formulario Persona Física -->
        <form id="form-fisica" method="POST" action="/heladeras-solidarias/registrarse">

            {{#if error}}
                <div class="alert alert-danger d-flex align-items-center alerta" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        <h5>{{error}}</h5>
                    </div>
                </div>
            {{/if}}

            {{#if error2}}
                <div class="alert2 alert-danger d-flex align-items-center alerta" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="18" height="18" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                        <h5>{{error2}}</h5>
                    </div>
                </div>
            {{/if}}

            <input type="hidden" name="tipoColaborador" value="FISICO" >
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="usuario" class="form-label">Nombre de Usuario *</label>
                    <input name="usuario" type="text" class="form-control" id="usuario"
                           placeholder="Ingresar nombre de usuario" required>
                </div>
                <div class="col-md-6 mb-3 position-relative">
                    <label for="contrasenia" class="form-label">Contraseña *</label>
                    <input name = "contrasenia" type="password" class="form-control"
                           id="contrasenia" placeholder="Ingrese contraseña">
                    <i class="bi bi-eye-slash" id="togglePassword2"
                       style="position: absolute; top: 59%; right: 5rem; transform: translateY(-15%); cursor: pointer;"></i>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombreFisica" class="form-label">Nombre *</label>
                    <input name="nombre" type="text" class="form-control" id="nombreFisica"
                           placeholder="Ingresar nombre" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="apellidoFisica" class="form-label">Apellido *</label>
                    <input name="apellido" type="text" class="form-control" id="apellidoFisica"
                           placeholder="Ingresar apellido" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="tipoDocumentoFisica" class="form-label">Tipo de Documento *</label>
                    <select name="tipoDocumento" class="form-select" id="tipoDocumentoFisica" required>
                        <option value="DNI">DNI</option>
                        <option value="LC">LC</option>
                        <option value="LE">LE</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numeroDocumentoFisica" class="form-label">Nro de Documento *</label>
                    <input name="numeroDocumento" type="text" class="form-control" id="numeroDocumentoFisica"
                           placeholder="Ingrese sin puntos ni espacios" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="tipoContactoFisica" class="form-label">Tipo de Contacto *</label>
                    <select name="tipoContacto" class="form-select" id="tipoContactoFisica" required>
                        <option selected value="">Seleccione una Opción</option>
                        <option value="MAIL">Mail</option>
                        <option value="WHATSAPP">WhatsApp</option>
                        <option value="TELEGRAM">Telegram</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="contactoFisica" class="form-label">Contacto *</label>
                    <input name="contacto" type="text" class="form-control" id="contactoFisica"
                           placeholder="ej: 1122334455 o example@ghost.com" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="provinciaFisica" class="form-label">Provincia</label>
                    <select name="provincia" class="form-select" id="provinciaFisica">
                        <option selected value="">Seleccione una Opción</option>
                        {{#each provincias}}
                            <option value="{{this.getId}}">{{this.getNombreProvincia}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="ciudadFisica" class="form-label">Ciudad</label>
                    <input name="ciudad" type="text" class="form-control" id="ciudadFisica"
                           placeholder="ej: CABA">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="barrioFisica" class="form-label">Barrio</label>
                    <input name="barrio" type="text" class="form-control" id="barrioFisica"
                           placeholder="ej: Villa Crespo">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="calleFisica" class="form-label">Calle</label>
                    <input name="calle" type="text" class="form-control" id="calleFisica"
                           placeholder="ej: Malabia">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <!--Columna vacia para que quede ordenado-->
                </div>
                <div class="col-md-6 mb-3">
                    <label for="numeroFisico" class="form-label">Número</label>
                    <input name="numero" type="text" class="form-control" id="numeroFisico"
                           placeholder="ej: 411">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
            </div>
        </form>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-g2Q2bAmzqopHLmj10EIXSL94up6E4Z0+8+2M+JTXtyizfG34z2qa60mu8GxVd+hg"
            crossorigin="anonymous"></script>
    <script>
        document.getElementById('personaToggle').addEventListener('change', function () {
            let juridicaForm = document.getElementById('form-juridica');
            let fisicaForm = document.getElementById('form-fisica');
            if (this.checked) {
                juridicaForm.classList.remove('d-none');
                fisicaForm.classList.add('d-none');
            } else {
                juridicaForm.classList.add('d-none');
                fisicaForm.classList.remove('d-none');
            }
        });
    </script>

    <script>
        // Seleccionamos el campo obligatorio y el resto de campos opcionales
        const opcion1 = document.getElementById('provincia');
        const opcion2 = document.getElementById('ciudad');
        const opcion3 = document.getElementById('barrio');
        const opcion4 = document.getElementById('calle');
        const opcion5 = document.getElementById('numero');

        // Agregamos un evento para cuando se cambia el valor del campo obligatorio
        opcion1.addEventListener('input', function() {
            if (opcion1.value.trim() !== '') {
                // Si el campo obligatorio tiene valor, los demás campos opcionales se vuelven obligatorios
                opcion2.required = true;
                opcion3.required = true;
                opcion4.required = true;
                opcion5.required = true;
            } else {
                // Si el campo obligatorio está vacío, los otros vuelven a ser opcionales
                opcion2.required = false;
                opcion3.required = false;
                opcion4.required = false;
                opcion5.required = false;
            }
        });
    </script>


    <script>
        // Alternar visibilidad de la contraseña
        const togglePassword1 = document.querySelector('#togglePassword1');
        const password1 = document.querySelector('#contraseniaJuridica');

        togglePassword1.addEventListener('click', () => {
            const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
            password1.setAttribute('type', type);
            togglePassword1.classList.toggle('bi-eye');
            togglePassword1.classList.toggle('bi-eye-slash');
        });
    </script>

    <script>
        // Alternar visibilidad de la contraseña
        const togglePassword2 = document.querySelector('#togglePassword2');
        const password2 = document.querySelector('#contrasenia');

        togglePassword2.addEventListener('click', () => {
            const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);
            togglePassword2.classList.toggle('bi-eye');
            togglePassword2.classList.toggle('bi-eye-slash');
        });
    </script>
{{/partial}}

{{> templates/base }}